<ion-card>
  <ion-card-header>
    <ion-card-subtitle class="ion-margin-bottom">


      <ion-row>
        <ion-col class="d-flex align-items-center">
          <span class="text-primary">
            {{ index }}.&nbsp;
          </span>
          <span class="article-source-name">
            {{ article.source.name }}
          </span>
        </ion-col>
        <ion-col align="right">
          <ion-button fill="clear" (click)="openActionSheet()" >
            <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>

    </ion-card-subtitle>
    <ion-card-title (click)="openArticle()">
      {{ article.title }}
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-img (click)="openArticle()" *ngIf="article.urlToImage" class="ion-margin-bottom" [src]="article.urlToImage" />
    {{ article.content }}
  </ion-card-content>
</ion-card>