<ion-col size="12" size-lg="3" size-md="4" size-xs="12">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle class="ion-margin-bottom">
        <span class="text-primary">
          {{ index }}.
        </span>
        <span class="article-source-name">
          {{ article.source.name }}
        </span>
      </ion-card-subtitle>
      <ion-card-title>
        {{ article.title }}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-img class="ion-margin-bottom" [src]="article.urlToImage" />
      {{ article.content }}
    </ion-card-content>
  </ion-card>
</ion-col>