<ion-header [translucent]="true" mode="ios">
  <ion-toolbar mode="ios">
    <ion-title>
      Encabezados



    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense" mode="ios">
    <ion-toolbar mode="ios">
      <ion-title size="large">Encabezados</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-segment [value]="categorySelected" color="primary" (ionChange)="onChange($event)" [scrollable]="true" mode="md">
    <ion-segment-button *ngFor="let category of categories" [value]="category">
      <ion-label class="ion-text-capitalize">{{ category }}</ion-label>
    </ion-segment-button>
  </ion-segment>

  <app-articles [articles]="articles" />



</ion-content>